@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,500;1,600&family=Cormorant+Upright:wght@300;400;600&family=Habibi&family=Roboto:wght@100;500;700&display=swap');

p{  font-family: 'Habibi', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    max-width: 600px;}

h1{ text-align: center;
    font-family: Cormorant Upright;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 95px; /* 105.882% */
    margin-bottom: 40px;
    margin-top: 100px;
    transition: color 0.3s;}

.h1:hover {
  color: transparent;
  -webkit-text-stroke: 1px white;}

h2{ font-family: Cormorant Upright;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 100% */
    margin-left: 160px;
    margin-bottom: 20px;
    animation: colorCycle 5s infinite;}

    @keyframes colorCycle {
        0% { color: #FFB347; }
        25% { color: #5C935E; }
        50% { color: #B29CF0; }
        75% { color: #FFB347; }
        100% { color: #5C935E; }}

h3{ font-family: Habibi;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 154.545% */}

h4{ font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
    letter-spacing: 3.2px;}

nav{font-family: Cormorant Garamond;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px; /* 107.445% */
    padding-top: 20px;
    padding-left:40px}

.bigger {font-size: 24px;
    line-height: 36px; /* 159.091% */
    max-width: 662px;
    margin-left:630px;
    margin-top:-185px;
    padding-bottom:120px;}

.closing {font-family: Cormorant Garamond;
    font-size: 101.113px;
    font-style: normal;
    font-weight: 300;
    line-height: 100px; /* 98.899% */
    animation: colorCycle 5s infinite;}

    @keyframes colorCycle {
        0% { color: #FFB347; }
        25% { color: #5C935E; }
        50% { color: #B29CF0; }
        75% { color: #FFB347; }
        100% { color: #5C935E; }}

.outline {border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 3px;
    background: #FDFBF7;
    border: 1px solid #171717;
    color: #171717;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    margin-left: 170px;}

.line {border-bottom: 1px solid #171717;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left:170px;
    margin-right:170px;}

.bigletter {font-family: Cormorant Garamond;
    font-size: 400px;
    font-style: italic;
    font-weight: 600;
    margin-left:-200px;
    padding-top: 100px;
    transition: -webkit-text-stroke 0.6s ease;}

.bigletter:hover {
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;}

.leftbox {margin-left: 300px; margin-bottom: 160px;}
.rightbox {margin-left: 700px;margin-bottom: 160px;}

#homedecor{color: #171717 ;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #FDFBF7;
    font-family: Cormorant Upright;
    font-size: 822.72px;
    font-weight: 400;
    margin-left: -150px;}

svg {
    fill: currentColor;
    font-family: Cormorant Garamond;
    height: auto;
    max-width: 15vmin;
    transform-origin: center;
    width: 15%;
    margin-bottom: 100px;
    animation: rotate 5s linear infinite;
  }

@keyframes rotate {from {transform: rotate(0deg);} to {transform: rotate(360deg);}}

